<% if user_signed_in? %>

<% if @products %>
<div class="row">
<% @products.each do |product| %>
	<div class="col-sm-3 text-center">
			<h2>#<%=product.id%> <%= product.title %></h2>
	    	<%=image_tag product.image, :class=>"img-responsive" %>
	    	<br/>	    	
	    	<span class="price"> <s><%= product.unitprice %></s> </span> 
	    	<span class="sale"> <%= product.unitprice*(100-product.promotion)/100 %> </span>
			<%= product.stock %> Left
			<br/>	From :  <%= product.p_start.to_time.strftime('%a %b %d, %Y %H:%M:%S') %>
			<br/> To: <%= product.p_end.to_time.strftime('%a %b %d, %Y %H:%M:%S') %>
			<br/>
			<%= form_for :buynow, url: home_buynow_path do |f| %>
			<input type="hidden" name="id" value="<%= product.id %>">
			<button class="btn btn-danger btn-buy">BUY NOW</button>
			<% end %>
 	</div>
<% end %>
</div>

<% elsif @orders %>
<div class="row">
	<div class="col-sm-12">
	  <table class="table">
	    <tr>
	    	<th>Product ID : Title </th>
	    	<th>Price</th>
	    	<th>QTY</th>
	    	<th>Date</th>
	    </tr>
	    <% @orders.each do |order|%>
	    <tr>
	    	<td>#<%= order.product_id%> : <%= order.product.title%></td>
	    	<td><%= order.price%></td>
	    	<td><%= order.qty%></td>
	    	<td><%= order.created_at.to_time.strftime('%a %b %d, %Y %H:%M:%S')%></td>
	    </tr>
	   <% end %>
	  </table>		
	</div>
</div>
<% end %>
<% end %>