<% if user_signed_in? %>

<% if @products %>
<div class="row">
<% @products.each do |product| %>
	<div class="col-sm-4 text-center" style="height:500px">
	<div class="panel panel-default">
		<div class="panel-body">
		      <h2><%= product.title %></h2>
		    	<%=image_tag product.image, :class=>"img-responsive img-thumbnail" %>
		    	<br/>
				<div class="row">	
					<div class="col-sm-12 padtp10">    	
				    	<span class="price pull-left"> <s><%= product.unitprice %></s><small>THB</small></span> 
				    	<span class="sale pull-left"><%= product.unitprice*(100-product.promotion)/100 %> </span>	    	
						<span class="promo badge pull-right">- <%= product.promotion %>%</span>
					</div>
				</div>
				<h4 class="blue">Before: <%= product.p_end.to_time.strftime('%a %b %d, %Y %H:%M:%S') %></h4>
				only <%= product.stock %> Left <br/>
				<%= form_for :buynow, url: home_buynow_path do |f| %>
				<input type="hidden" name="id" value="<%= product.id %>">
				<button class="btn btn-danger btn-buy">BUY NOW</button>
				<% end %>
		</div>
	</div>
 	</div>

<% end %>
</div>

<% elsif @orders %>
<div class="row">
	<div class="col-sm-12">
	  <table class="table">
	    <tr>
	    	<th>Product ID : Title </th>
	    	<th>Price</th>
	    	<th>QTY</th>
	    	<th>Date</th>
	    </tr>
	    <% @orders.each do |order|%>
	    <tr>
	    	<td>#<%= order.product_id%> : <%= order.product.title%></td>
	    	<td><%= order.price%></td>
	    	<td><%= order.qty%></td>
	    	<td><%= order.created_at.to_time.strftime('%a %b %d, %Y %H:%M:%S')%></td>
	    </tr>
	   <% end %>
	  </table>		
	</div>
</div>
<% end %>
<% end %>